*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: green;
    overflow: hidden;
}
.box{
    width: 490px;
    height: 490px;
    position: relative;
    position: absolute;
    top: 100px;
    left: 440px;
    background-color: rgb(44,33,33);
}
.quti{
    width: 225px;
    height: 225px;
    position: absolute;
    position: relative;
    top: 265px;
    background-color: rgb(92, 92, 14);
}
.quti2{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 125px;
    left: 125px;
    background-color:rgb(117, 165, 21);
}












